@{
    ViewBag.Title = "About";
}
<div class="floatingOptions" style="padding-bottom:15px;">
    <div class="opacityFrame">
    </div>
    <div class="subFrame">
        @*<a style="text-decoration: none;" href="https://plus.google.com/102717746927437867334?prsrc=2">
            <img style="display: inline; width: 250px; border: solid 2px #0f0; border-radius: 25px;" src="@Url.Content("~/SiteContent/images/me.png")" />
        </a>*@
        <div style="background-image: url(@Url.Content("~/SiteContent/images/me.png")); width: 250px; height: 250px; border-radius: 15px; background-position: center; margin: auto; border: solid 1px #090; background-size: 100%;">
        </div>
        <br />
        <g:plus href="https://plus.google.com/102717746927437867334" rel="publisher" height="69"
            theme="dark"></g:plus>
    </div>
</div>
<div style="font-size: 18px;">
CodeTunnel.com is my central hub for everything I do related to the world of software
development. This site is built from the ground up by yours truly using ASP.NET
MVC. Each time a new iteration of MVC comes out I immediately upgrade the site's
code. I have a huge passion for programming and I'm always up on the latest technology.
I have a particular fondness for .NET languages and am always looking for opportunities
to get noticed by Microsoft. Despite my love for .NET I try to branch out and try as much
as I possibly can. The best developers are those that can stay up on trends and have a
knowledge of many tools so that they can choose the best one to get the job done.
<br />
<br />
I write blog posts about anything that interests me in the software world. I will often
write in-depth tutorials about a topic and try to help others who may be having a hard time
grasping a certain concept or technology. Everything I do on Code Tunnel comes from the
passion that have for software development. I live, eat, and breathe programming and I
love to share it with the world.
<br />
<br />
I think What I love most about software development is when I get to help other people
become better programmers. There are times when I wish someone would just email me with a
question so I could spend some time writing up a good answer. That's why I love to browse
<a href="http://www.stackoverflow.com">StackOverflow.com</a> so much. The days of the
anti-social programmer are long over. To be the best in today's world you have to be
willing to socialize with and learn from other great developers in the industry.
<br />
<br />
Code Tunnel is the window I chose to expose to the world, allowing others to take a look
inside my life as a software engineer. Everything from the content I post right down to the
simple layout and unique color scheme represents a piece of my own personality. If you
can't tell, I love green! I've always had an odd attachment to simplistic terminal-style
applications. I even created a web-based terminal application called CT-Terminal which
you can find in the projects tab.
</div>