@{
    ViewBag.Title = "FileBrowser";
}
<div style="position: relative; height: 100%;">
    <div class="opacityFrame">
    </div>
    <div class="subFrame" style="height: 100%;">
        <div style="padding: 25px;">
            test
        </div>
    </div>
</div>
